.navbar {
  background-color: #0e0029;
}

.white-txt {
  color: #ffffff;
}

.hello-txt {
  color: #b9b9b9;
  font-weight: bold;
}

.btn:hover {
  color: #00dce4;
}

.btn-theme {
  background-color: #032b75;
}

.btn-register {
  background-color: #2b60c4;
  width: 150px;
  margin-top: 18px;
}

.noBullets {
  list-style: none;
  font-weight: normal;
}

.card {
  width: 400px;
}

/* Input Form Icons */
.input-group-prepend span {
  width: 40px;
  background-color: #032b75;
  color: rgb(255, 255, 255);
  border: 0 !important;
}

/* product item size */
.p-item {
  width: 250px;
}
